body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.link-btn {
  background: #c41153;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-in-out 1s;
}
.link-btn:hover {
  box-shadow: inset 300px 0 0 0 #fff;
  color: #000000;
}

.container {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
/*------ navigation area------ */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-top: 20px;
  margin-left: 20px;
}
.nav-link nav ul {
  display: flex;
  list-style: none;
}
.nav-link nav ul li {
  margin-right: 50px;
}
.nav-link nav ul li a {
  text-decoration: none;
  font-weight: 4895;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  transition: all 0.3s ease-out;
}
.nav-link nav ul li a:hover {
  color: rgba(11, 177, 243, 0.986);
  border-left-style: dotted;
  border-right-style: dashed;
}

.fa-sign-in-alt {
  padding-right: 0.8em;
}

/*------ banner area------ */

.banner {
  background-color: #261ea0;
  margin-top: -80px;
  justify-content: space-between;
}
.main-banner {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.banner-title h1 {
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 20px;
}
.banner-title a {
  background-color: #e02c6d;
  padding: 10px 40px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.banner-image img {
  width: 566px;
  height: 433px;
}
.banner-image:hover {
  transition: 3 sec;
  transform: rotate(180deg);
}
.fa-arrow-right {
  margin-left: 10px;
}

/*------ Player area------ */

.photo-album {
  margin-left: 15%;
  margin-right: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  justify-items: center;
}
.photo-frame {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  width: 300px;
  height: 400px;
  box-shadow: 10px 10px 30px rgb(179, 178, 178);
  border-radius: 15px;
  padding: 15px;
}
.photo img {
  width: 100%;
}
.photo-detail p {
  font-size: 20px;
}

/*------ Highlights area------ */

.highlights {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 100px;
}
.highlights-left h1 {
  padding-top: 30px;
  font: 700 48px/60px "Poppins", sans-serif;
}
.highlights-right img {
  padding-left: 80px;
  width: 65%;
}

/* -------Youtube Area -------*/
.YouTube-Video {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 100px;
}
.YouTube-Video h2 {
  padding-top: 30px;
  font: 700 48px "Poppins", sans-serif;
}
.Contactus-area {
  margin-top: 100px;
  background-color: rgba(230, 190, 14, 0.76);
  text-align: center;
  padding: 50px;
  border-radius: 50px 50px;
}
.Contactus-area input {
  padding: 15px 30px;
  border-radius: 5px;
}

/* Footer Styles Starts */

.footer {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 484px;
  height: 110px;
}

.social-icon i {
  color: #969bab;
  border-radius: 50%;
  margin-left: 14px;
  background-color: #c9c8c754;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}
